<!DOCTYPE html>
<html>

<head>
    <title>My page</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    {{>navigation}}
    
    <h1>{{ helloWorld }}, Igor {{ x }}</h1>
    <ul>
        <li>{{userArray}}</li>
    </ul>
</body>

</html>