@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #242333;
  color: #fff;
}

.movie-picker-container {
  margin-bottom: 20px;
}

.movie-picker {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 15px 5px 15px;
  margin-left: 10px;
}

.legend-list {
  background-color: rgba(0,0,0,0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.legend-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.legend-description {
  margin-left: 10px;
}

.hall {
  margin-bottom: 20px;
  perspective: 1000px;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  transform: rotateX(-45deg);
  margin-bottom: 10px;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}
.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat--selected {
  background-color: #6feaf6;
}
.seat--occupied {
  background-color: #fff;
  cursor: default;
  pointer-events: none;
}

.seat:hover {
  transform: scale(1.2); 
}

.legend-list .seat,
.seat.seat--occupied {
  transform: scale(1); 
}
.legend-list .seat {
  cursor: default;
  pointer-events: none;
}


.seats-row {
  display: flex;
}

.total-message-number {
  color: #6feaf6;
}