<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Template</title>
  </head>
  <body>
    <header class="main-header">
      <form id="searchForm">
        <input type="text" id="search" class="search-input" placeholder="Search"/>
      </form>
    </header>

    <main id="main" class="movie-list">
      <section class="movie">
        <img class="movie-img" src="https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=625&q=80" alt=""/>
        <header class="movie-info">
          <h3 class="movie-info--title">Movie title</h3>
          <span class="movie-info--raiting movie-info--raiting--top">9.8</span>
        </header>

        <div class="movie-description">
          <h3>Overview</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

      </section>

      </main>

      <template id="movieTemplate">
        <section class="movie">
          <img class="movie-img" src="{{imageSrc}}" alt=""/>
          <header class="movie-info">
            <h3 class="movie-info--title">{{title}}</h3>
            <span class="movie-info--raiting movie-info--raiting--top"></span>
          </header>

          <div class="movie-description">
            <h3></h3>
            <p>{{overview}}</p>
          </div>
        </section>
      </template>
    <script src="script.js"></script>
  </body>
</html>
