/* The Maker Bus Stylesheet */

@import url(http://fonts.googleapis.com/css?family=Oswald:700,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #fff;
  color: #666;
  font-family: 'Open Sans', arial, sans-serif;
  width: 960px;
  margin: 0 auto 0 auto;}

header {
  display: block;
  height: 140px;
  border-bottom: 5px solid #000;
  margin-bottom: 30px;}

h1 {
  font-weight: normal;
  margin: 28px 0 0 0;
  float: left;
  width: 225px;
  height: 90px;
  background-image: url('../img/issoft-logo.png');
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;}

h2 {
  font-size: 2.4em;
  margin: 0.7em 0 1.7em 0;
  padding: 0;
  color: #000;
  line-height: 1em;
  letter-spacing: -.06em;}

h3 {
  margin: 0;
  font-size: 1.4em;
  color: #3fbb8a; 
  font-family: oswald, arial, sans-serif;}

nav {
  font-family: oswald, arial, sans-serif;
  float: right; 
  width: 300px;
  padding-top: 30px;
  font-size: 1.4em;
  text-align: right;
  text-transform: uppercase;}
nav a {
  padding-left: 30px;}
nav a:hover, a.current {
  color: #d71a00;}

a {text-decoration: none; color: #000;}

.third, .vacancy {
  width: 319px;
  float: left;}
#container .vacancy {
  width: 800px;
}

.third img, .vacancy img {
  width: 270px;
  height: auto;
}
#container .vacancy img {
  float: right;
}
.vacancy p {text-align: center;}

.third p {
  padding: 0 20px 0 20px;
  margin: 40px 0 20px 0;
  text-align: left;
  line-height: 1.4em;}

.intro p {
  margin: 0 0 0 0;
  padding: 0 20px 20px 0;}


.half {
  width: 480px;
  float: left;
  text-align: center;}

.half img {
  width: 100%;
}

#refresh img {
  width: 30px;
}
#vote {padding-top: 20px;}
p#selector {margin-top: -40px;}

form {
  margin: 0 0 0 90px;
  width: 300px;}
label, input {
  display: inline-block;}
label {
  display: block;
  text-align: left;
  padding-top: 10px;
  text-transform: uppercase;}
input, select {
  border: none;
  border-radius: 5px;
  background-color: #dcdcdc;
  font-size: 1em;
  line-height: 1em;
  width: 280px;
  padding: 6px 10px 6px 10px;}
input[type=submit] {
  background-color: #1fb684;
  color: #fff;
  font-weight: bold;
  clear:left;
  float: right;
  width: 8em;
  padding: 8px 20px 8px 20px;
  margin-top: 10px;
  text-transform: uppercase;}
input[type=submit]:hover {
  background-color: #000;
  cursor: pointer;}

#rates {padding: 0 0 50px 0;}
#reload {padding: 0 100px 0 100px;}
#rates, #reload {text-align: left;}
