<!DOCTYPE html>
<html>

<head>
    <title>My page</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    {{>navigation}}
    <h1>{{ helloWorld }}, {{pageName}} {{ x }}</h1>
    <ul>
        {{#each userArray}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</body>

</html>