@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: linear-gradient(135deg, #7d5fff, #543bc3);
}

.search-container {
  position: relative;
  height: 50px;
}

.search-input {
  background: #fff;
  border: 0;
  font-size: 18px;
  line-height: 20px;
  padding: 15px;
  width: 50px;
  transform: translate3d(0,0,0);
  transition: width 1s ease-in-out;
}

.search-btn {
  background: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transform: translate3d(0,0,0);
  transition: left 1s ease-in-out;
}
.search-btn i {
  pointer-events: none;
}

.search-input:focus,
.search-btn:focus {
  outline: none;
}


.active .search-btn {
  left: 200px
}

.active .search-input {
  width: 200px
}