@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.counters-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 800px;
}

.counters-item {
  font-size: 20px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center 10px;
  padding: 100px 20px 20px 20px;
  min-width: 200px;
}

.counters-item--people {
  background-image: url('img/men_icon.svg');
}
.counters-item--projects {
  background-image: url('img/suitcase_icon.svg');
}
.counters-item--prizes {
  background-image: url('img/awards_icon.svg');
}

.counters-item p {
  margin: 0;
}
.counter {
  font-size: 40px;
  font-weight: bold;
  
}

