@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

a {
  position: relative;
  font-size: 20px;
  text-decoration: none;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30%;
  right: 70%;
  height: 2px;
  opacity: 0.2;
  background: red;
  transition: left 0.3s ease-in-out, right 0.5s ease-in-out, opacity 0.3s ease-in-out ;
}

a:hover {
  text-decoration: none;
}

a:hover::after {
  left: 0;
  opacity: 1;
  right: 0;
}