@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.form-group {
  position: relative;
}

.form-input {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 0;
  width: 100%;
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid rgba(0,0,0,0.87);
}
.form-input:focus {
  outline: none;
}

.form-input-label {
  position: absolute;
  top: 6px;
  left: 0;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  color: rgba(0,0,0,0.6);
  pointer-events: none;
  transform-origin: top left;
  transition: transform 0.4s cubic-bezier(0.25,0.8,0.5, 1);
}

.form-input:focus + .form-input-label {
  transform: translateY(-18px) scale(0.75)
}

.form-group::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 30%;
  right: 70%;
  height: 2px;
  opacity: 1;
  background: red;
  transition: left 0.3s cubic-bezier(0.25,0.8,0.5, 1), right 0.5s cubic-bezier(0.25,0.8,0.5, 1), opacity 0.3s cubic-bezier(0.25,0.8,0.5, 1) ;
}

.form-group.focused::after {
  left: 0;
  opacity: 1;
  right: 0;
}